<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
  <title>FlightAbyss</title>
</head>
<body>
<header>
  <h1>FlightAbyss</h1>
</header>
<main>
  <div class="search-form">
    <h2>Flight information</h2>
    <form action="/search" method="post">
      <label for="origin-airport">Enter flight origin airport:</label>
      <input type="text" id="origin-airport" name="originAirport" placeholder="Origin Airport (e.g. ZAG)" required>
      <label for="destination-airport">Enter flight destination airport:</label>
      <input type="text" id="destination-airport" name="destinationAirport" placeholder="Destination Airport (e.g. SPU)" required>
      <label for="departure-date">Enter flight departure date:</label>
      <input type="date" id="departure-date" name="departureDate" required>
      <label for="return-date">Enter trip return date:</label>
      <input type="date" id="return-date" name="returnDate">
      <label for="number-of-passengers">Enter number of passengers:</label>
      <input type="number" id="number-of-passengers" name="numberOfPassengers" value="1" min="1" required>
      <label for="currency-select">Select currency type:</label>
      <select id="currency-select" name="currency">
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
        <option value="HRK">HRK</option>
      </select>
      <button type="submit">Search<i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>
  <div class="table-space">
    <div class="welcome-gif" th:if="${#lists.isEmpty(outgoing) && #lists.isEmpty(returning) && #lists.isEmpty(outgoingAlternatives) && #lists.isEmpty(returningAlternatives)}">
      <img src="/images/giphy.gif" alt="Welcome animation">
      <p>Welcome! Start your search to explore flights.</p>
    </div>

    <div class="outgoing-div" th:if="${!#lists.isEmpty(outgoing)}">
      <h2>Results:</h2>
      <table>
        <thead>
        <tr>
          <th>Departure Airport</th>
          <th>Destination Airport</th>
          <th class="sortable" data-sort="datetime">Departure Time</th>
          <th>Number of passengers</th>
          <th class="sortable" data-sort="price">Total price</th>
          <th>Currency</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flight : ${outgoing}">
          <td th:text="${flight.itineraries[0].segments[0].departure.iataCode}">Origin</td>
          <td th:text="${flight.itineraries[0].segments[0].arrival.iataCode}">Destination</td>
          <td class="datetime" th:text="${flight.itineraries[0].segments[0].departure.at}">Departure Date</td>
          <td th:text="${numberOfPassengers}">Number of passengers</td>
          <td th:text="${flight.price.total}">Price</td>
          <td th:text="${flight.price.currency}">Currency</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div th:if="${errorNoFlights}" class="error-message">
      <p><i class="fa-solid fa-circle-xmark"></i> <span th:text="${errorNoFlights}"></span></p>
    </div>

    <div class="returning-div" th:if="${!#lists.isEmpty(returning)}">
      <h2>Returning flights:</h2>
      <table>
        <thead>
        <tr>
          <th>Departure Airport</th>
          <th>Destination Airport</th>
          <th class="sortable" data-sort="datetime">Departure Time</th>
          <th>Number of passengers</th>
          <th class="sortable" data-sort="price">Total price</th>
          <th>Currency</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flight : ${returning}">
          <td th:text="${flight.itineraries[0].segments[0].departure.iataCode}">Origin</td>
          <td th:text="${flight.itineraries[0].segments[0].arrival.iataCode}">Destination</td>
          <td class="datetime" th:text="${flight.itineraries[0].segments[0].departure.at}">Departure Date</td>
          <td th:text="${numberOfPassengers}">Number of passengers</td>
          <td th:text="${flight.price.total}">Price</td>
          <td th:text="${flight.price.currency}">Currency</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div th:if="${errorNoReturnFlights}" class="error-message">
      <p><i class="fa-solid fa-circle-xmark"></i> <span th:text="${errorNoReturnFlights}"></span></p>
    </div>

    <div class="alternatives-outgoing" th:if="${!#lists.isEmpty(outgoingAlternatives)}">
      <h2>You also might be interested in:</h2>
      <table>
        <thead>
        <tr>
          <th>Departure Airport</th>
          <th>Destination Airport</th>
          <th class="sortable" data-sort="datetime">Departure Time</th>
          <th>Number of passengers</th>
          <th class="sortable" data-sort="price">Total price</th>
          <th>Currency</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flight : ${outgoingAlternatives}">
          <td th:text="${flight.itineraries[0].segments[0].departure.iataCode}">Origin</td>
          <td th:text="${flight.itineraries[0].segments[0].arrival.iataCode}">Destination</td>
          <td class="datetime" th:text="${flight.itineraries[0].segments[0].departure.at}">Departure Date</td>
          <td th:text="${numberOfPassengers}">Number of passengers</td>
          <td th:text="${flight.price.total}">Price</td>
          <td th:text="${flight.price.currency}">Currency</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="alternatives-returning" th:if="${!#lists.isEmpty((returningAlternatives))}">
      <table>
        <thead>
        <tr>
          <th>Departure Airport</th>
          <th>Destination Airport</th>
          <th class="sortable" data-sort="datetime">Departure Time</th>
          <th>Number of passengers</th>
          <th class="sortable" data-sort="price">Total price</th>
          <th>Currency</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flight : ${returningAlternatives}">
          <td th:text="${flight.itineraries[0].segments[0].departure.iataCode}">Origin</td>
          <td th:text="${flight.itineraries[0].segments[0].arrival.iataCode}">Destination</td>
          <td class="datetime" th:text="${flight.itineraries[0].segments[0].departure.at}">Departure Date</td>
          <td th:text="${numberOfPassengers}">Number of passengers</td>
          <td th:text="${flight.price.total}">Price</td>
          <td th:text="${flight.price.currency}">Currency</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
</body>
<script>
  document.querySelectorAll('.datetime').forEach(el => {
    const isoString = el.textContent;
    const date = new Date(isoString);
    const options = { day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit' };
    el.textContent = date.toLocaleString('en-GB', options);
  });
</script>
<script th:if="${error != null}" th:inline="javascript">
  alert([[${error}]]);
</script>
<script src="https://kit.fontawesome.com/1ca0ae003b.js" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
</html>
