<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>FlightAbyss</title>
</head>
<body>
<header>
  <h1>FlightAbyss</h1>
</header>
<main>
  <div class="search-form">
    <h2>Flight information</h2>
    <form action ="/search" method="post">
      <label for="origin-airport">Enter flight origin airport:</label>
      <input type="text" id="origin-airport" name="originAirport" placeholder="Origin Airport (e.g. ZAG)" required>
      <label for="destination-airport">Enter flight destination airport:</label>
      <input type="text" id="destination-airport" name="destinationAirport" placeholder="Destination Airport (e.g. SPU)" required>
      <label for="departure-date">Enter flight departure date:</label>
      <input type="date" id="departure-date" name="departureDate" required>
      <label for="return-date">Enter trip return date:</label>
      <input type="date" id="return-date" name="returnDate">
      <label for="number-of-passengers">Enter number of passengers:</label>
      <input type="number" id="number-of-passengers" name="numberOfPassengers" value="1" min="1" required>
      <label for="currency-select">Select currency type:</label>
      <select id="currency-select" name="currency">
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
        <option value="HRK">HRK</option>
      </select>
      <button type="submit">Search</button>
    </form>
  </div>
  <div class = "matching-div">
    <h2>Results</h2>
    <table border="1">
      <tr>
        <th>Departure Airport</th>
        <th>Destination Airport</th>
        <th>Departure Time</th>
        <th>Number of passengers</th>
        <th>Total price</th>
        <th>Currency</th>
      </tr>
      <tr th:each="flight : ${matching}">
        <td th:text="${flight.itineraries[0].segments[0].departure.iataCode}">Origin</td>
        <td th:text="${flight.itineraries[0].segments[0].arrival.iataCode}">Destination</td>
        <td th:text="${flight.itineraries[0].segments[0].departure.at}">Departure Date</td>
        <td th:text="${numberOfPassengers}">Number of passengers</td>
        <td th:text="${flight.price.total}">Price</td>
        <td th:text="${flight.price.currency}">Currency</td>
      </tr>
      </tr>
    </table>
  </div>
  <div class = "alternatives-div">
    <h2>We might also interest you in:</h2>
    <table border="1">
      <tr>
        <th>Departure Airport</th>
        <th>Destination Airport</th>
        <th>Departure Time</th>
        <th>Number of passengers</th>
        <th>Total price</th>
        <th>Currency</th>
      </tr>
      <tr th:each="flight : ${alternatives}">
        <td th:text="${flight.itineraries[0].segments[0].departure.iataCode}">Origin</td>
        <td th:text="${flight.itineraries[0].segments[0].arrival.iataCode}">Destination</td>
        <td th:text="${flight.itineraries[0].segments[0].departure.at}">Departure Date</td>
        <td th:text="${numberOfPassengers}">Number of passengers</td>
        <td th:text="${flight.price.total}">Price</td>
        <td th:text="${flight.price.currency}">Currency</td>
      </tr>
      </tr>
    </table>
  </div>
</main>
</body>
</html>